<footer>
    <ul class="lien d-flex align-items-center">
        <li><a class="footer-logo" href="#"><img src="images/logo.png" alt="logofooter"></a></li>
        <li><p class="copyright">&copy; 2024 Marché Direct</p></li>
        <li><a routerLink="mention">Mentions Légales</a></li>
        <li><a routerLink="rgpd">RGPD</a></li>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="#">Conditions générales de vente</a></li>
        <li><a routerLink="commerce/accueil">Accès à l'espace commerçant</a></li>
    </ul>
</footer>