<div class="body-marches">
    <div class="tout-marches row">
        @defer(){
            @for (item of produits; track $index) 
            {
                @if (item.stock > 0)
                {
                    <div class="card col-3">
                        <div class="image-marche" [style.backgroundImage]="'url(' + urlImg + item.imageFileName + ')'"></div>
                        <div class="card-body d-flex align-items-center justify-content-between">
                            <h4 class="marche-text m-0">{{item.productName}}</h4>
                            <p class="marche-text me-2"><strong>prix : </strong>{{item.prix | number:'1.2-2'}}€ {{item.format.name}}</p>
                            <p class="marche-text me-2"><strong>stock : </strong>{{item.stock}}</p>
                            <button class="fa-solid fa-cart-shopping btn btn-pagination p-2" aria-label="Bouton de commande" [attr.data-bs-target]="'#modalMockup' + item.id" data-bs-toggle="modal" type="button"></button>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" [id]="'modalMockup' + item.id" role="dialog">
                        <div class="modal-dialog">
                            <div>
                                <div class="image-marche" [style.backgroundImage]="'url(' + urlImg + item.imageFileName + ')'"></div>
                            </div>
                            <div class="modal-content">
                                <div class="modal-body color-modal">
                                    <h1>{{item.productName}}</h1>
                                    <p><strong>Prix: </strong> {{item.prix | number:'1.2-2'}}€ {{item.format.name}}</p>
                                    <p><strong>Stock: </strong> {{item.stock}}</p>
                                    <p class="mb-4"><strong>Description: </strong> {{removeDivTags(item.description)}}</p>
                                    <form action="">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Quantité</label>
                                            <select class="form-control" id="Select" (change)="changePrice($event)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </form>
                                    <p class="mt-2 text-end">Prix total: {{selectedQuantity * item.prix | number:'1.2-2'}} €</p>
                                </div>
                                <div class="modal-footer color-modal">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="button" class="btn btn-pagination p-2">Envoyer au panier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        @error {
            <span>Error</span>
        }
        @loading(minimum 1s) {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> 
        }
        <div class="btn-page">
            <button class="btn btn-pagination" id="btn-precedent" (click)="getOtherPagesMoins()">Précédent</button>
            <button class="btn btn-pagination" id="btn-suivant" (click)="getOtherPagesPlus()">Suivant</button>
        </div>
    </div>
</div>
