nav 
{
    background-color: #132a13 !important;

}
.nav-item .dropdown-toggle {
    display: flex;
    align-items: center;
  }
  
  .nav-item img {
    margin-right: 8px; /* Espace entre l'image et le texte */
  }
.navbar-toggler
{
    background-color: #FEFAE0;
    color: #FEFAE0;
}
.navbar-brand 
{
    height: 60px;
}
nav a 
{
    color: #FEFAE0;
}
.logo
{
    width: 47px;
}
.btn-connexion 
{
    background-color: #4F772D;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #838383;
    color: #FEFAE0;
}
.btn-deconnexion{
    background-color: #BC4749;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #83838300;
    color: #FEFAE0;
}
.btn-panier{
    background-color: #132a13;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #838383;
    color: #FEFAE0;
    width: fit-content;
}

.btn-panier:hover {
    background-color: #4F772D;
}