<div class="tous-marchés">
    @for (item of marches; track $index) 
    {
        <div class="card" style="width: 17rem;">
            <img [src]="item.imageFileName">
            <div class="card-body">
              <h5 class="marché-text">{{item.marcheName}}</h5>
              <p class="marché-text">{{item.place}}</p>
              <p class="marché-text">De {{item.hourly}}</p>
            </div>
        </div>
    }
    <button class="btn btn-pagination" (click)="getMarchesOtherPagesMoins()">Précédent</button>
    <button class="btn btn-pagination" (click)="getMarchesOtherPagesPlus()">Suivant</button>
</div>

