.body-marches {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #FEFAE0;
    box-sizing: border-box;
    height: 150px;
}

.image-marche {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    margin: 0;
}

.marche-text {
    margin: 0;
}

.marche-text:first-child{
    margin-bottom: 5px;
}

.marche-text:last-child{
    margin-top: 5px;
}

.btn-danger {
    background-color: #BC4749;
    color: black;
}

.btn-primary{
    background-color: #E5A823 !important;
    border: none;
    color: black;
}

.btn-primary:hover{
    background-color: #d39c26 !important;
}

.btn-danger:hover {
    background-color: #973436;
}