<div class="box-unMarché">
    <div class="card">
        <div class="image-text">
            <div class="image">
                <img [src]="marche.imageFileName">
            </div>
            <div class="commerçant-description">
                <div class="card-text">
                    <h1 class="nom-marché">{{marche.marcheName}}</h1>
                    <p class="description">{{marche.description}}</p>
                    <p class="lieu-marché">{{marche.place}}</p>
                    <p class="jour-marché">{{marche.days[0].name}}</p>
                    <p class="heure-marché">{{marche.hourly}}</p>
                </div>
            </div>
        </div>
    </div>
</div>