.box-unMarché 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    height: 75vh;
}
.card 
{
    border-radius: 20px;
    background-color: #fefae0;
    display: flex;
    flex-direction: row;
    border-color: #838383;
    width: 1500px;
}
.image-text 
{
    display: flex;
    flex-direction: row;
}
img
{
    border-radius: 10px;
    max-width: 800px;
    margin: 30px 0 30px 30px;
}
p
{
    margin: 0;
}
.card-text 
{
    text-align: center;
}
h1 
{
    border-bottom: #838383 solid 1px;
}
h3 
{
    margin: 0;
}
.commercant-note 
{
    text-align: center;
    border-bottom: #838383 solid 1px;
    border-top: #838383 solid 1px;
}
.commercant-description 
{
    border-left: #838383 solid 1px;
}

