<div class="container mt-5">
    <h2>Modifier vos informations</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">Nom d'utilisateur</label>
        <input id="userName" formControlName="userName" class="form-control" type="text">
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" class="form-control" type="email">
      </div>
  
      <div class="form-group">
        <label for="tel">Numéro de téléphone</label>
        <input id="tel" formControlName="tel" class="form-control" type="text">
      </div>
  
      <div class="form-group">
        <label for="nameBusiness">Nom de la boutique</label>
        <input id="nameBusiness" formControlName="nameBusiness" class="form-control" type="text">
      </div>
  
      <div class="form-group">
        <label for="descriptionCommerce">Description du commerce</label>
        <textarea id="descriptionCommerce" formControlName="descriptionCommerce" class="form-control"></textarea>
      </div>
  
      <div class="form-group">
        <label for="numSiret">Numéro de Siret</label>
        <input id="numSiret" formControlName="numSiret" class="form-control" type="text">
      </div>
  
      <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    </form>
  </div>
  